body {
  background-color: black;
}

.App {
  display: inline-flex;
  place-content: center;
}

.Inner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(154, 40, 255); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(154, 40, 255); 
}